body
{
    background-color: #F4ECF7;
}
#header
{
    background-color: #330099;
}

.hero
{
    background-color: #F4ECF7;

}

#boton-perfil
{
    background-color: #330099;
    border-radius: 25%;
}

#app
{
    color:#330099;
    font-family: monospace;
    font-size:22px;
}

h1
{
    color: #330099;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2
{
    font-family: monospace;
    color: #52BE80;
    
}

p
{
    font-size: large;
    text-align: justify;
}

.lead
{
    font-family: Arial, Helvetica, sans-serif;
    
}

#boton-cv
{
    color: #330099;
    
}

.caja-habilidades
{
    background-color: #F2E9E4;
    color: #330099;
}

.btn-proyecto
{
    background-color: black;
    
}

.btn-proyecto a
{
    text-decoration: none;
    color: #F2E9E4;
}
.card-body
{
    background-color: #F4ECF7;
}

#Proyectostext
{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-text
{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    flex-flow: column;
}

h5
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#testimonioS
{
    border-radius: 5%;
    background-color: #F4ECF7;
    font-family: Arial, Helvetica, sans-serif;
}

i
{
    font-size: 15px;
}

.border-dashed
{
    background-color:  ##52BE80;
}

footer li a i
{
    color: #330099;
}

footer p a
{
    text-decoration: none;
    color: #330099;
}